@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

@font-face {
  font-family: Pirulen;
  src: url(../assets/Pirulen.otf);
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/Gilroy-Light.otf);
}

body {
  background-image: url(../assets/bg.png);
  background-size: 110%;
  margin: 0;
  padding: 0;
}

.center-child {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#main-form-cont {
  width: 80%;
  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
  padding: 50px 100px;
  background-color: rgba(7, 9, 73, 0.09);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 20px;
  overflow-x: hidden;
}

#form-heading {
  width: max-content;
  font-family: "Pirulen";
  font-size: 2rem;
  color: white;
  margin: auto auto;
}

#form-heading-sml {
  width: max-content;
  font-family: "Pirulen";
  font-size: 1.5rem;
  color: white;
  margin: 15px auto;
}

#team-name-cont {
  width: 45%;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-field-cont {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  grid-auto-rows: 1fr;
}

.form-field {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

label {
  padding: 10px;
  color: white;
  align-self: center;
  font-size: 1rem;
}

input {
  align-self: center;
  width: 50%;
  background: none;
  height: 1.4375rem;
  padding: 16.5px 14px;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  color: white;
  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
}

#team-name-label {
  padding: 0;
  width: max-content;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

input::placeholder {
  color: white;
  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
}

#team-name {
  width: 60%;
  justify-self: end;
  font-size: 1.15rem;
  font-weight: 500;
}

#team-name::placeholder {
  font-size: 1.15rem;
  font-weight: 500;
}

.btn {
  display: block;
  margin: 20px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  outline: 1px solid rgba(255, 255, 255, 1);
  padding: 5px 30px;
  border: 4px solid black;
  transition: all 700ms ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.err {
  color: red;
}

@media (max-width: 700px) {
  body {
    background-image: url("../assets/bg_90deg.png");
  }

  #form-heading {
    font-size: 4.5vw;
  }

  #form-heading-sml {
    font-size: 1rem;
  }

  #main-form-cont {
    padding: 30px 20px;
  }

  #team-name-cont {
    width: 100%;
  }

  .form-field-cont {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .form-field {
    width: 100%;
    flex-direction: row;
  }

  label {
    justify-self: start;
    font-size: 0.9rem;
  }

  input {
    width: 40%;
    align-self: start;
  }

  input::placeholder {
    justify-self: start;
    font-size: 0.9rem;
  }

  #team-name-label {
    font-size: 0.9rem;
  }

  #team-name::placeholder {
    font-size: 0.9rem;
  }
}
